numpy==2.2.3
diskcache==3.0.1
keras_rl==0.4.0
pandas==0.22.0
setuptools==70.0.0
baselines==0.1.5
tensorflow==2.12.1
seaborn==0.8.1
Keras==3.9.0
matplotlib==2.1.0
gym==0.7.4
python_dateutil==2.7.2
rl==2.4
scikit_learn==0.19.1
